.container-fluid {
    background-image: url(Images/h_img.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 25%;
    color: #fffefb;
}
.container-fluid-text {
    text-transform: uppercase;
    color: #fffefb;
}
.about-us {
    background-color: #ffffff;
    text-align: center;
    line-height: 250%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}
.services {
    background-image: url(Images/s_image.jpg);
    text-align: center;
    line-height: 250%;
    color: #fffefb;
    padding-top: 10%;
}
.portfolio {
    background-color: #fffefb;
}

.col-md-12 {
    background-image: url(Images/c_image.jpg);
    padding-bottom: 10%;
}
