.container-fluid {
    background-image: url(Images/h_img.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 25%;
    color: #fffefb;
}
.container-fluid-text {
    text-transform: uppercase;
    color: #fffefb;
}
.about-us {
    background-color: #ffffff;
    text-align: center;
    
}