.container-fluid {
    background-image: url(Images/h_img.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 10%;
    color: #fffefb;
}
.container-fluid-text {
    text-transform: uppercase;
    color: #fffefb;
}
.about-us {
    background-color: #ffffff;
    text-align: center;
    line-height: 250%;
    padding-top: 2.5%;
    padding-bottom: 2%;
}
.services {
    background-image: url(Images/s_image.jpg);
    text-align: center;
    line-height: 250%;
    color: #fffefb;
    padding-top: 5%;
    padding-bottom: 5%;
}

.portfolio {
    background-color: #fffefb;
    margin-left: 160px;
    margin-right: 100px;
    gap: 4px;
    
}


#images {
    /* float: left; */
    float: left;
    width: 33.33%;
    padding: 5px
    
}


.col-md-12 {
    background-image: url(Images/c_image.jpg);
    padding-bottom: 5%;
    padding-top: 1%;
    margin-bottom: 0px;
}
